<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--    head.html:START-->
    <div th:replace="blog/fragments/head.html :: template"></div>
    <!--    head.html:END-->
    <title>Create</title>

    <style>
        body {
            height: 100vh;
        }
    </style>

</head>
<body>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <div class="col-12">
                <form th:action="@{/add}" th:object="${post}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" th:field="*{title}" required />
                    </div>

                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" id="image" accept="image/png, image/jpeg" th:field="*{photo}" required />
                    </div>

                    <div class="form-group">
                        <label for="ingredient[0]">Ingredients:</label>
                        <div class="input-group" id="inputFormRow">
                            <input type="text" class="form-control" id="ingredient[0]" placeholder="Enter ingredient" th:field="*{ingredients[0]}" />
                            <div class="input-group-append">
                                <button id="removeRow" type="button" class="btn btn-danger">Remove</button>
                            </div>
                        </div>
                        <div id="newRow"></div>
                    </div>

                    <button id="addRow" type="button" class="btn btn-info">Add</button>

                    <div class="form-group">
                        <label for="content">How to make:</label>
                        <textarea type="text" class="form-control" id="content" placeholder="Enter method of preparation" th:field="*{content}" required />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">

        var index = 1;
        // add row
        $("#addRow").click(function () {
            var html = '';
            html += '<div class="input-group" id="inputFormRow">';
            html += '<input type="text" class="form-control" id="ingredient['+index+']" placeholder="Enter ingredient" name="ingredients['+index+']" />';
            html += '<div class="input-group-append">';
            html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';
            html += '</div>';

            index++;

            $('#newRow').append(html);
        });

        // remove row
        $(document).on('click', '#removeRow', function () {
            $(this).closest('#inputFormRow').remove();
        });
    </script>
</body>
</html>