<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--    head.html:START-->
    <div th:replace="blog/fragments/head.html :: template"></div>
    <!--    head.html:END-->
    <title>Edit</title>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">

    <style>
        body {
            height: 100vh;
        }
    </style>

</head>
<body>

    <div class="container h-100" th:if="${post != null}">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 bg-secondary p-3 m-5 border border-dark rounded">
                <form th:action="@{/edit/{id}(id=${post.id})}" th:object="${post}" method="post" enctype="multipart/form-data">
                    <div class="form-group text-center">
                        <label class="text-white" for="title">Title:</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" th:field="*{title}" required />
                    </div>

                    <div class="form-group text-center">
                        <label class="text-white" for="image">Image:</label>
                        <input type="file" id="image" accept="image/png, image/jpeg" th:field="*{photo}" required />
                    </div>

                    <div class="form-group text-center">
                        <label class="text-white">Ingredients:</label>
                        <div class="input-group" id="inputFormRow" th:each="item, iter : ${post.ingredients}">
                            <input type="text" class="form-control" th:name="${'ingredients['+iter.index+']'}" placeholder="Enter ingredient" th:value="${item}" />
                            <div class="input-group-append">
                                <button id="removeRow" type="button" class="btn btn-danger btn-outline-dark text-white">Remove</button>
                            </div>
                        </div>
                        <div id="newRow"></div>
                    </div>

                    <div class="text-center">
                        <button id="addRow" type="button" class="btn btn-info btn-outline-dark text-white">Add</button>
                    </div>

                    <div class="form-group m-2">
                        <div class="text-center">
                            <label class="text-white" for="content">How to make:</label>
                        </div>
                        <textarea type="text" class="form-control" id="content" th:field="*{content}" required />
                    </div>

                    <div class="text-center">
                        <a class="btn btn-info btn-outline-dark text-white m-3" th:href="@{/blog/recipes}">Back</a>
                        <button type="submit" class="btn btn-primary btn-outline-dark text-white">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="container h-100" th:if="${post == null}">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="bg-danger rounded border border-dark">
                <h3 class="p-3" style="color: darkred;">You can edit only your own posts!</h3>
            </div>
            <a class="btn btn-info btn-outline-dark text-white m-3" th:href="@{/blog/recipes}">Back</a>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript">

        var index = 1;
        // add row
        $("#addRow").click(function () {
            var html = '';
            html += '<div class="input-group" id="inputFormRow">';
            html += '<input type="text" class="form-control" id="ingredient['+index+']" placeholder="Enter ingredient" name="ingredients['+index+']" />';
            html += '<div class="input-group-append">';
            html += '<button id="removeRow" type="button" class="btn btn-danger btn-outline-dark text-white">Remove</button>';
            html += '</div>';
            html += '</div>';

            index++;

            $('#newRow').append(html);
        });

        // remove row
        $(document).on('click', '#removeRow', function () {
            $(this).closest('#inputFormRow').remove();
        });

        // wysiwyg
        $(document).ready(function () {
            $('#content').summernote({
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['para', ['ul', 'ol']]
                ],
                height: 500
            });
        })
    </script>
</body>
</html>