<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!--    head.html:START-->
    <div th:replace="blog/fragments/head.html :: template"></div>
<!--    head.html:END-->

    <style>
        body {
            height: 100vh;
        }
    </style>

</head>
<body>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center text-center text-info">
            <div class="col-12">
                <h1>Yummy</h1>
                <p>This is yummy application</p>
            </div>
        </div>
    </div>

</body>
</html>