<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post template</title>
</head>
<body>

    <div class="container bg-secondary p-3 rounded text-white" th:fragment="template">
        <img class="rounded img-fluid w-50 mx-auto d-block border border-white" th:src="${'/' + post.photo}"/>
        <h3 class="text-center text-info m-3" th:text="${post.title}"></h3>
        <h4 class="m-3">Ingredients:</h4>
        <ul class="list-group m-3">
            <li class="list-group-item bg-secondary text-white" th:each="ingredient : ${post.ingredients}" th:text="${ingredient}"></li>
        </ul>
        <h4 class="m-3">How to prepare:</h4>
        <p class="m-3 text-justify" th:utext="${post.content}"></p>
        <a class="btn btn-info m-3" th:href="@{/blog/recipes}">Back</a>
        <div class="footer p-3 border-top border-dark" th:text="${post.author}"></div>
    </div>

</body>
</html>